<div class="container">
    <div class="row">
      <div class="col-12">
          <h1>Mis Sanciones</h1>
      </div>
      <div class="col-12 col-lg-3">
        <nb-card>
          <nb-card-body>
            <label><strong>Fecha:</strong> 01-03-2018</label><br>
            <label><strong>Motivo:</strong> abc</label><br>
            <label><strong>Estado:</strong> &nbsp; &nbsp; &nbsp;<label class="btn btn-danger">Pendiente</label></label><br>
            <label><strong>Opciones</strong></label><br>
            <button class="btn btn-primary btn-block">
              Ver Detalle 
              <nb-icon icon="printer-outline"></nb-icon>
            </button>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-3">
        <nb-card>
          <nb-card-body>
            <label><strong>Fecha:</strong> 01-03-2018</label><br>
            <label><strong>Motivo:</strong> xyz</label><br>
            <label><strong>Estado:</strong> &nbsp; &nbsp; &nbsp;<label class="btn btn-primary">En Proceso</label></label><br>
            <label><strong>Opciones</strong></label><br>
            <button class="btn btn-primary btn-block">
              Ver Detalle 
              <nb-icon icon="printer-outline"></nb-icon>
            </button>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-3">
        <nb-card>
          <nb-card-body>
            <label><strong>Fecha:</strong> 01-03-2018</label><br>
            <label><strong>Motivo:</strong> xxxxd</label><br>
            <label><strong>Estado:</strong> &nbsp; &nbsp; &nbsp;<label class="btn btn-success">Resuelto</label></label><br>
            <label><strong>Opciones</strong></label><br>
            <button class="btn btn-primary btn-block">
              Ver Detalle 
              <nb-icon icon="printer-outline"></nb-icon>
            </button>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-3">
        <nb-card>
          <nb-card-body>
            <label><strong>Fecha:</strong> 01-03-2018</label><br>
            <label><strong>Motivo:</strong> assasaasd</label><br>
            <label><strong>Estado:</strong> &nbsp; &nbsp; &nbsp; <label class="btn btn-danger">Pendiente</label></label><br>
            <label><strong>Opciones</strong></label><br>
            <button class="btn btn-primary btn-block">
              Ver Detalle 
              <nb-icon icon="printer-outline"></nb-icon>
            </button>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-3">
        <nb-card>
          <nb-card-body>
            <label><strong>Fecha:</strong> 01-03-2018</label><br>
            <label><strong>Motivo:</strong> sddsad</label><br>
            <label><strong>Estado:</strong> &nbsp; &nbsp; &nbsp;<label class="btn btn-danger">Pendiente</label></label><br>
            <label><strong>Opciones</strong></label><br>
            <button class="btn btn-primary btn-block">
              Ver Detalle 
              <nb-icon icon="printer-outline"></nb-icon>
            </button>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>