<div class="container">
    <div class="row">
      <div class="col-12">
          <h1>Mis Notificaciones</h1>
      </div>
      <div class="col-12 col-lg-3">
        <nb-card>
          <nb-card-body>
            <label><strong>Fecha:</strong> 01-03-2018</label><br>
            <label><strong>Asunto:</strong> Noticia de Eventos en Cusco 2020</label><br>
            <label><strong>Estado:</strong> Leido</label><br>
            <label><strong>Opciones</strong></label><br>
            <button class="btn btn-primary btn-block">
              Ver Detalle 
              <nb-icon icon="printer-outline"></nb-icon>
            </button>
            <br>
            <button class="btn btn-danger btn-block">
              Eliminar
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button> 
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-3">
        <nb-card>
          <nb-card-body>
            <label><strong>Fecha:</strong> 01-03-2018</label><br>
            <label><strong>Asunto:</strong> Noticia de Eventos en Cusco 2020</label><br>
            <label><strong>Estado:</strong> No Leido</label><br>
            <label><strong>Opciones</strong></label><br>
            <button class="btn btn-primary btn-block">
              Ver Detalle 
              <nb-icon icon="printer-outline"></nb-icon>
            </button>
            <br>
            <button class="btn btn-danger btn-block">
              Eliminar
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button> 
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-3">
        <nb-card>
          <nb-card-body>
            <label><strong>Fecha:</strong> 01-03-2018</label><br>
            <label><strong>Asunto:</strong> Noticia de Eventos en Cusco 2020</label><br>
            <label><strong>Estado:</strong> Leido</label><br>
            <label><strong>Opciones</strong></label><br>
            <button class="btn btn-primary btn-block">
              Ver Detalle 
              <nb-icon icon="printer-outline"></nb-icon>
            </button>
            <br>
            <button class="btn btn-danger btn-block">
              Eliminar
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button> 
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-3">
        <nb-card>
          <nb-card-body>
            <label><strong>Fecha:</strong> 01-03-2018</label><br>
            <label><strong>Asunto:</strong> Noticia de Eventos en Cusco 2020</label><br>
            <label><strong>Estado:</strong> No Leido</label><br>
            <label><strong>Opciones</strong></label><br>
            <button class="btn btn-primary btn-block">
              Ver Detalle 
              <nb-icon icon="printer-outline"></nb-icon>
            </button>
            <br>
            <button class="btn btn-danger btn-block">
              Eliminar
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button> 
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
